# Eclipse
.settings/
.project
.classpath
.metadata/

# ビルド成果物
target/
build/
*.class
*.war

# OS
.DS_Store
Thumbs.db

# 依存jar(READMEの手順でダウンロードして各自配置する想定のため、リポジトリには含めない)
src/main/webapp/WEB-INF/lib/*.jar
